body {
  width: 100%;
  margin-top: 50px;
  height:100vh;
  background-image: url(../image/);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
     background-color: #ffffff;
 background-color: rgba( 255, 255, 255, 0.2 );

 }